@import "tailwindcss";

@import "tailwindcss";

/* Make sure root elements fill the full screen */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* optional: prevent scrollbars if layout fits screen  */
body {
  background-color: #1a103c;
  font-family: "Inter", sans-serif;
}
